*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem auto;
  height: 100vh;
  flex-direction: column;
}

h1 {
  color: white;
  font-family: Arial;
}

#myCanvas {
  background-color: #2a5;
}